{% extends "base.html" %}
{% block title %}{{ super() }} :: {{ title }}{% endblock %}
{% block post_dojo_js %}
<script type="text/javascript">
dojo.require('clue.secure.mgt');
dojo.require('clue.relmgr.browser');
dojo.addOnLoad(function() {
    var browser = new clue.relmgr.browser.Browser('{{ url_root }}');
    browser.activate();
});
</script>
{% endblock %}
{% block content %}

<div class="distro-searchform box">
  <form action="search">
    <div class="field">
      <label for="search">Search</label>
      <input type="text" name="s" value="{{ s }}"/>
    </div>
    <input type="submit" value="search" class="action" />
  </form>
</div>

<h3 id="page-title-header">{{ title }}</h3>

{% import 'pager.html' as pager %}
{% import 'listing.html' as listing %}

{{ pager.pager(page) }}
{{ listing.list(page) }}
{{ pager.pager(page) }}

{% endblock %}
