{% macro list(items) -%}

{% if items.full_item_count %}
<table class="distro-listing">
  <thead>
    <tr>
      <th class="distro-name">Name</th>
      <th class="distro-updated">Updated</th>
      <th class="distro-description">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for distro in items %}
    <tr>
      <td><a href="d/{{ distro.distro_id }}">{{ distro.name }}</a></td>
      <td>{{ format_datetime(distro.last_updated, show_time=False) }}</td>
      <td>{{ distro.summary }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<p class="empty-list">Sorry there are currently no items available (or you do not have access to any items).</p>

{% endif %}

{%- endmacro %}
